* text eol=lf

*.png binary
*.jpg binary
*.wasm binary
*.scale binary

**/Cargo.lock linguist-generated
**/package-lock.json linguist-generated
**/weights.rs linguist-generated
**/src/weights/** linguist-generated
