node_modules/
target/
target-rust-analyzer/
target-no-lazy/
target-rust-analyzer/
target-xwin/
log/
weight-dumps/
.binpath
/.vscode
/.cursor
.DS_Store
.idea
.log
*.meta.txt
.terraform*
utils/**/fuzz/corpus/*
utils/**/fuzz/coverage/*
utils/**/fuzz/artifacts/*
utils/**/fuzz/fuzz/*
.ethexe.toml
fuzz_run
lazy_pages_fuzz_run
.direnv/