version: '3'
services:
  gear:
    user: root
    ports:
      - "30333:30333"
      - "9933:9933"
      - "9944:9944"
      - "9615:9615"
    image: schernovgear/gear:nightly
    volumes:
      - "/home/ec2-user/gear-data/:/gear/"
    command: gear-node --base-path /gear/  --prometheus-external {% if rpc is not defined %} --validator {% endif %} {% if rpc is defined %} --unsafe-ws-external --unsafe-rpc-external --rpc-methods Unsafe --rpc-cors all {% endif %} {% if bootnodeId is defined %} --bootnodes /ip4/{{ bootnode }}/tcp/30333/p2p/{{ bootnodeId }} {% endif %}

volumes:
  gear-data:
