version: '3'
services:
  gear:
    ports:
      - "30333:30333"
      - "9933:9933"
      - "9944:9944"
      - "9615:9615"
    image: "{{ gear_image_tag }}"
    restart: always
    environment:
      - RUST_LOG=essential
    volumes:
      - "/home/ec2-user/gear-data/:/gear/"
    command: >
      gear --base-path /gear/ --chain gear/vara.json --telemetry-url 'wss://telemetry.rs/submit 0' --prometheus-external
      {% if name is defined %} --name={{ name }} {% endif %}
      {% if rpc is not defined %} --validator --pruning 86400 {% endif %}
      {% if rpc is defined and unsafe == "yes" %} --unsafe-ws-external --pruning 86400 --ws-max-connections='1000' --unsafe-rpc-external --rpc-cors all {% endif %}
      {% if archive_node == "yes" %} --ws-max-connections='1000' --unsafe-ws-external --unsafe-rpc-external --pruning archive --rpc-cors all {% endif %}

{% if loki is defined and loki == "yes" and loki_url is defined %}
    logging:
      driver: loki
      options:
        loki-pipeline-stages: |
          - regex:
              expression: '(?P<error>(?i)error.*)'
          - labels:
              error:
          - regex:
              expression: '(.*Prepared block for proposing at [^ ]+ \((?P<block_time>\d+) ms\) \[hash: (?P<block_hash>[^;]+);.*)'
          - labels:
              block_time:
              block_hash:
          - regex:
              expression: '(.*Local node identity is: (?P<node_id>(.*)))'
          - labels:
              node_id:
{% endif %}
volumes:
  gear-data:
