version: '3'
services:
  gear:
    user: root
    ports:
      - "30333:30333"
      - "9933:9933"
      - "9944:9944"
      - "9615:9615"
    image: schernovgear/gear:nightly
    environment:
      - RUST_LOG=essential=debug
    volumes:
      - "/home/ec2-user/gear-data/:/gear/"
    command: gear-node --base-path /gear/ --prometheus-external {% if rpc is not defined %} --validator --telemetry-url 'ws://telemetry-backend-shard.gear-tech.io:32001/submit 0' {% endif %} {% if rpc is defined and unsafe == "yes" %} --unsafe-ws-external --unsafe-rpc-external {% endif %} {% if rpc is defined and unsafe == "no" %} --ws-external --rpc-external {% endif %} {% if rpc is defined %} --telemetry-url 'ws://telemetry-backend-shard.gear-tech.io:32001/submit 0' --rpc-methods Unsafe --rpc-cors all {% endif %} {% if bootnodeId is defined %} --bootnodes /ip4/{{ bootnode }}/tcp/30333/p2p/{{ bootnodeId }} {% endif %} {% if archive_node is defined and archive_node == "yes" %} --pruning archive {% endif %}

{% if loki is defined and loki == "yes" and loki_url is defined %}
    logging:
      driver: loki
      options:
        loki-url: "{{ loki_url }}"
        loki-tls-insecure-skip-verify: "true"
        loki-external-labels: "job=docker_node"
        loki-pipeline-stages: |
          - regex:
              expression: '(?P<error>ERROR.*)'
          - labels:
              error:
{% endif %}
volumes:
  gear-data:
